<!-- color: red -->
<% if(results.length==0){ %>
  <div class="ui warning message">
    <div class="header">
      Sorry
    </div>
    <p>No data found</p>
  </div>
  <% } else { %>
    <div class="ui cards">
      <% for(var i=0; i<results.length; i++){ %>
        <div class="red card">
          <div class="content">
            <div class="header">
              <%= results[i].name %>
            </div>
            <div class="meta">
              <a>
                <%= results[i].type %>
              </a>
            </div>
            <div class="description">
              <p>Homephone: <b><%= results[i].homephone || '-' %></b></p>
              <p>Workphone: <b><%= results[i].workphone || '-' %></b></p>
              <p>Cellphone: <b><%= results[i].cellphone || '-' %></b></p>
            </div>
          </div>
          <div class="extra content">
            <% if(results[i].url){ %>
              <span class="right floated">
                  <a target="blank" href="<%= results[i].url %>">Site</a>
                </span>
              <% } %>
                <span>
                <i class="building icon"></i>
                <%= results[i].company || '-' %>
              </span>
          </div>
        </div>
      <% } %>
    </div>
  <% } %>
